body {
    background-color: peru;
}
h1{
    text-align: center;
    font-size: 4vw;
}
p{
    text-align: center;
}
#timer{
    text-align: center;
}
.cardContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* margin-top: 5px; */
}

.card {
    width: 15vw;
    height: 17vh;
    position: relative;
    /* Stops it from going to 2d, and makes it animated in 3 d */
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: blue;
    color: white;
    margin-top: 1vh;
}

.flipped {
    transform: rotateY(180deg);
}

.cardFace {
    width: 15vw;
    height: 17vh;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.cardFront {
    background-color: #DED0B6;
    color: black;
}

.cardBack {
    background-color: #BBAB8C;
    color: white;
    transform: rotateY(180deg);
}
